.Create{
    overflow: scroll;
}

.root{
    margin-top: 10px;
    transition: 1s;
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.correct{
    border: 3px solid #C9E29E;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 0 auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    line-height: 78px;
    color: #C9E29E;
}

.camera{
    border: 3px solid rgb(158, 174, 226);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 40px;
    margin: 0 auto;
    margin-right: 20px;
    margin-left: auto;
    text-align: center;
    line-height: 78px;
    color: rgb(158, 174, 226);
}

.camera:active{
    color: white;
    background-color:rgb(158, 174, 226);
}

.container{
    width: 250px;
    margin: 0 auto;
    margin-top: 40px;
}